spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  application:
    name: pos-system
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.xml
