#order_panels{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

#order_filters{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:16px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:15px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:1rem auto auto 0.8rem;
    width:17%;
    height:32rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

#order_search{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:16px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:15px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto 0.5rem auto;
    width:90%;
    height:1.5rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

    #order_search:focus{
        border-color:var(--focus-color);
        outline:none;
    }

#order_category_list{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:16px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:15px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto auto auto;
    width:90%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

.order_category{
    margin:0.1rem auto auto 2rem;
}

#order_products{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(14rem,1fr));
    gap:2px;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:15px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:1rem auto auto auto;
    width:47%;
    height:32rem;
    overflow-y:scroll;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

#product_card_not_found{
    justify-self:center;
    font-size:1.5rem;
    font-weight:bold;
    margin:1rem;
}

.product_card{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto auto auto;
    width:14rem;
    height:8rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    .product_card:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

#product_card_name{
    font-size:1.4rem;
    margin:0.5rem auto auto auto;
}

#product_card_price{
    font-size:1.3rem;
    margin:auto 0.5rem 0.5rem auto;
}

#order_info{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:16px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:15px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:1rem 0.8rem auto auto;
    width:27%;
    height:32rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

#order_info_id{
    font-size:1.8rem;
    margin:0.5rem auto 0.5rem auto;
}

#order_product_list{
    display:flex;
    align-items:center;
    justify-content:left;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto 0rem auto;
    width:80%;
    height:100%;
    overflow-y:scroll;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

.order_product_card{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto 0rem auto;
    width:80%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    .order_product_card:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

.order_total_info{
    width:90%;
}

#order_total{
    font-size:1.6rem;
    margin:0.5rem auto auto 1rem;
}

#order_quantity{
    font-size:1.6rem;
    margin:0.5rem 1rem auto auto;
}

.payment_button{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:5px 10px;
    text-decoration:none;
    font-size:1.8rem;
    font-weight:bold;
    margin:0.5rem auto 0rem auto;
    width:85%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    .payment_button:hover{
        background-color:var(--secondary-background-color-hover);
        transform:scale(1.05);
    }

/* width */
::-webkit-scrollbar{
    width:8px;
}

/* Track */
::-webkit-scrollbar-track{
    border-radius:8px;
    background:var(--secondary-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb{
    border-radius:8px;
    background:var(--primary-background-color);
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover{
        background:var(--primary-background-color-hover);
    }

@media(max-width:800px){
    #order_panels{
        flex-direction:column;
    }

    #order_filters{
        margin:1rem auto 0.5rem auto;
        width:90%;
    }

    #order_products{
        margin:1rem auto 0.5rem auto;
        width:90%;
    }

    #order_info{
        margin:1rem auto 0.5rem auto;
        width:90%;
    }
}