#product_card_not_found{
    justify-self:center;
    font-size:1.5rem;
    font-weight:bold;
    margin:1rem;
}

#product_card{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto 0 auto;
    width:25rem;
    height:7rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    #product_card:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

#product_card_name{
    font-size:1.6rem;
    margin:0.5rem auto 0.2rem auto;
}

#product_card_category{
    font-size:1.4rem;
    margin:0.5rem auto auto auto;
}

#product_card_price{
    font-size:1.4rem;
    margin:auto 0.5rem 0.5rem auto;
}

#product_create_edit_panel{
    justify-self:center;
    justify-content:left;
    background-color:var(--primary-background-color);
    border:2px solid var(--detail-color);
    border-radius:16px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    position:absolute;
    top:3rem;
    width:40rem;
    max-height:40rem;
    overflow-y:auto;
    z-index:110;
    transition:background-color 0.3s ease,border-color 0.3s ease;
}

#product_create_edit_panel label{
    font-size:1.4rem;
    font-weight:bold;
    margin:0.5rem auto 0.5rem 1.5rem;
}

#product_create_edit_input_wrapper{
    width:90%;
    margin:0rem auto 0.5rem auto;
}

.product_create_edit_input_field{
    display:flex;
    align-items:center;
    justify-content:center;
    justify-self:center;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:15px 16px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0rem auto 0.5rem auto;
    width:75%;
    height:1rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    .product_create_edit_input_field:hover{
        background-color:var(--secondary-background-color-hover);
        transform:scale(1.05);
    }

    .product_create_edit_input_field:focus{
        border-color:var(--focus-color);
        outline:none;
    }

.product_create_edit_select{
    display:flex;
    align-items:center;
    justify-content:center;
    justify-self:center;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:6px 16px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0rem auto 0.5rem auto;
    width:75%;
    height:3rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    .product_create_edit_select:hover{
        background-color:var(--secondary-background-color-hover);
        transform:scale(1.05);
    }

    .product_create_edit_select:focus{
        border-color:var(--focus-color);
        outline:none;
    }

.product_create_edit_input_number_field{
    display:flex;
    align-items:center;
    justify-content:center;
    justify-self:center;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:15px 16px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0rem 0.5rem 0.5rem auto;
    width:4rem;
    height:1rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    .product_create_edit_input_number_field:hover{
        background-color:var(--secondary-background-color-hover);
        transform:scale(1.05);
    }

    .product_create_edit_input_number_field:focus{
        border-color:var(--focus-color);
        outline:none;
    }

#product_create_edit_input_text{
    font-size:1.2rem;
    font-weight:bold;
    margin:0.6rem auto auto 0.2rem;
}

#product_create_edit_option_list{
    display:flex;
    align-items:center;
    justify-content:left;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto 0rem auto;
    width:80%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

#product_create_edit_option_group{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto 0.5rem auto;
    width:90%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

#product_create_edit_option_delete{
    background-color:var(--secondary-background-color);
    font-size:1rem;
    margin:0.2rem 0.5rem 0.2rem auto;
    width:4.5rem;
    height:2.5rem;
}

    #product_create_edit_option_delete:hover{
        background-color:var(--secondary-background-color-hover);
    }

#product_create_edit_option_group_wrapper{
    margin:0.2rem auto 0.2rem auto;
    width:100%;
}

.product_create_edit_option_group_name{
    margin:auto auto auto 0.2rem;
    width:45%;
}

.product_create_edit_option_group_type{
    margin:auto 0.2rem auto auto;
    width:40%;
}

.product_create_edit_option_group_input{
    text-align:center;
    margin:auto 0.5rem auto 0.5rem;
    width:20%;
}

.product_create_edit_option_value_name{
    margin:auto auto auto 0.2rem;
    width:50%;
}

.product_create_edit_option_value_price{
    margin:auto auto auto 0.2rem;
    width:10%;
}

#product_create_edit_option_value_delete{
    background-color:var(--secondary-background-color);
    font-size:1rem;
    margin:auto 0.5rem auto 0.5rem;
    width:4.5rem;
    height:2.5rem;
}

    #product_create_edit_option_delete:hover{
        background-color:var(--secondary-background-color-hover);
    }

#product_create_edit_option_value_create{
    background-color:var(--secondary-background-color);
    margin:0.5rem auto 0.5rem auto;
}

    #product_create_edit_option_value_create:hover{
        background-color:var(--secondary-background-color-hover);
    }

#product_create_edit_option_create{
    margin:0.5rem auto 0.5rem auto;
}

#product_create_edit_cancel_button{
    margin:auto 0.5rem 0.5rem auto;
}

#product_create_edit_confirm_button{
    margin:auto 0.5rem 0.5rem 0.5rem;
}

#product_create_edit_delete_button{
    margin:auto auto 0.5rem 0.5rem;
}