#new_register_info{
    display:flex;
    align-items:center;
    justify-content:center;
    justify-self:center;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:15px 16px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:1.5rem;
    gap:1.2rem;
    width:25rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

#new_register_label{
    font-size:1.4rem;
    margin:0.5rem auto -1rem auto;
}

#new_register_info_item{
    display:flex;
    flex-direction:column;
    gap:0.2rem;
    width: 90%;
}

#new_register_info_item label{
    font-size:1.2rem;
    font-weight:bold;
}

#new_register_info_item input[type="text"]{
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:6px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:10px 12px;
    text-decoration:none;
    font-size:1rem;
    font-weight:bold;
    gap:1.2rem;
    width:90%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

    #new_register_info_item input[type="text"]:focus{
        border-color:var(--focus-color);
        outline:none;
    }

#new_register_radio_option{
    display:flex;
    align-items:center;
    gap:0.4rem;
    margin:auto 1rem;
    cursor:pointer;
    font-size:1.05rem;
}

#new_register_info_item input[type="text"].invalid{
  border:2px solid var(--error-text-color);
}

#new_register_button{
    display:flex;
    align-items:center;
    justify-content:center;
    justify-self:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:12px 30px;
    cursor:pointer;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:1.5rem;
    gap:1.2rem;
    width:25rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    #new_register_button:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }