.control_button{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:15px 16px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.2rem 0.5rem;
    width:10rem;
    height:3rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}
    
    .control_button:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

.join_button{
    margin-right:1rem;
}

.create_button{
    margin-right:1rem;
}

#business_card_nofound{
    justify-self:center;
    font-size:1.5rem;
    font-weight:bold;
    margin:2rem;
}

.business_card{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto 0 auto;
    width:25rem;
    height:10rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    .business_card:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

.business_card_name{
    font-size:1.8rem;
    font-weight:bold;
    margin-top:0.2rem;
    margin-bottom:0.5rem;
}

.business_card_type{
    font-size:1.2rem;
    font-weight:normal;
    margin:0.5rem 0.8rem 0.5rem auto;
}

.business_card_role{
    font-size:1.2rem;
    font-weight:normal;
    margin:0.5rem auto 0.5rem auto;
}

.business_card_empl{
    font-size:1.2rem;
    font-weight:normal;
    margin:0.5rem auto 0.5rem 0.8rem;
}

.business_card_address{
    font-size:1rem;
    font-weight:normal;
    margin:0.2rem;
}

.business_card_contact{
    font-size:1rem;
    font-weight:normal;
    margin:0.2rem;
}