#page{
  background-color:var(--primary-background-color);
  transition:background-color 0.3s ease;
}

#main_body{
  background-color:var(--primary-background-color);
  margin-bottom:0rem;
  transition:background-color 0.3s ease;
}

#transparent_panel{
  background-color:#000000;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.5;
  z-index:100;
}

#login_panel{
  justify-self:center;
  background-color:var(--primary-background-color);
  border:2px solid var(--detail-color);
  border-radius:16px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  position:fixed;
  top:2rem;
  width:30rem;
  height:28rem;
  z-index:110;
  transition:background-color 0.3s ease,border-color 0.3s ease;
}

#acc_options{
  margin:1.5rem;
}

.acc_button{
  display:flex;
  align-items:center;
  justify-content:center;
  justify-self:center;
  color:var(--text-color);
  background-color:var(--secondary-background-color);
  border:2px solid var(--detail-color);
  border-radius:8px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  cursor:pointer;
  padding:15px 16px;
  text-decoration:none;
  font-size:1.2rem;
  font-weight:bold;
  margin:0.2rem 0.5rem;
  width:8rem;
  height:3rem;
  transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

  .acc_button:hover{
    background-color:var(--secondary-background-color-hover);
    transform:scale(1.05);
  }

.acc_input_fields{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin:1rem;
}

.acc_input_field{
  display:flex;
  align-items:center;
  justify-content:center;
  justify-self:center;
  color:var(--text-color);
  background-color:var(--secondary-background-color);
  border:2px solid var(--detail-color);
  border-radius:8px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  cursor:pointer;
  padding:15px 16px;
  text-decoration:none;
  font-size:1.2rem;
  font-weight:bold;
  margin:0.5rem 0.5rem 0.5rem 0.5rem;
  width:70%;
  height:1.5rem;
  transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

  .acc_input_field:hover{
    background-color:var(--secondary-background-color-hover);
    transform:scale(1.05);
  }

  .acc_input_field:focus{
    border-color:var(--focus-color);
    outline:none;
  }

.password_wrapper{
  position:relative;
  display:flex;
  align-items:center;
  background-color:var(--secondary-background-color);
  border:2px solid var(--detail-color);
  border-radius:8px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  margin:0.5rem 0.5rem 0.5rem 0.5rem;
  width:77%;
  transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

  .password_wrapper:hover{
    background-color:var(--secondary-background-color-hover);
    transform:scale(1.05);
  }

.acc_password_field{
  justify-content:center;
  justify-self:center;
  color:var(--text-color);
  background-color:var(--secondary-background-color);
  border:none;
  border-radius:8px;
  outline:none;
  cursor:pointer;
  padding:15px 16px;
  text-decoration:none;
  font-size:1.2rem;
  font-weight:bold;
  width:100%;
  height:1.5rem;
  transition:background-color 0.3s ease,color 0.3s ease;
}

  .acc_password_field:focus > password_wrapper{
    border-color:var(--focus-color);
    outline:none;
  }

.password_toggle_button{
  position:absolute;
  right:0px;
  background:transparent;
  border:none;
  cursor:pointer;
  font-size:0.8rem;
}

.acc_submit_button{
  display:flex;
  align-items:center;
  justify-content:center;
  justify-self:center;
  color:var(--text-color);
  background-color:var(--secondary-background-color);
  border:2px solid var(--detail-color);
  border-radius:8px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  cursor:pointer;
  padding:15px 16px;
  text-decoration:none;
  font-size:1.2rem;
  font-weight:bold;
  margin:0.2rem 0.5rem;
  width:80%;
  height:3rem;
  transition:background-color 0.3s ease,transform 0.3s ease;
}

  .acc_submit_button:hover{
    background-color:var(--secondary-background-color-hover);
    transform:scale(1.05);
  }

.acc_input_field.invalid{
  border:2px solid var(--error-text-color);
}

.error_text{
  color:var(--error-text-color);
  font-size:0.8rem;
  margin-top:-10px;
  margin-bottom:0px;
}