:root{
  font-family:system-ui,Avenir,Helvetica,Arial,sans-serif;
  line-height:1.5;
  font-weight:400;

  --text-color:#000000;
  --primary-background-color:#ebebeb;
  --primary-background-color-hover:#e3e3e3;
  --secondary-background-color:#b7b7b7;
  --secondary-background-color-hover:#b1b1b1;
  --tertiary-background-color:#939393;
  --tertiary-background-color-hover:#888888;
  --detail-color:#296cd1;
  --error-text-color:#ff0000;
  
  color-scheme:light dark;
  color:var(--text-color);
  background-color:var(--primary-background-color);

  font-synthesis:none;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.dark{
  --text-color:#ffffff;
  --primary-background-color:#252525;
  --primary-background-color-hover:#242424;
  --secondary-background-color:#313131;
  --secondary-background-color-hover:#3c3c3c;
  --tertiary-background-color:#414141;
  --tertiary-background-color-hover:#4d4d4d;
  --detail-color:#15458c;
  --error-text-color:#dc3636;
}

body{
  display:flex;
  flex-direction: column;
  justify-content:center;
  margin:0;
}

hr{
  width:90%;
  height:2px;
  background-color:var(--detail-color);
  border:none;
  border-radius:4px;
  transition:background-color 0.3s ease;
}

.row_align{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.col_align{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.controls{
  justify-self:center;
  justify-content:right;
  color:var(--text-color);
  background-color:var(--secondary-background-color);
  border:2px solid var(--detail-color);
  border-radius:8px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  padding:15px 16px;
  margin:1rem 0 1rem 0;
  text-decoration:none;
  font-size:1.2rem;
  font-weight:bold;
  width:90%;
  height:2rem;
  transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

.item_list{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(25rem,1fr));
  gap:2px;
  justify-self:center;
  color:var(--text-color);
  background-color:var(--secondary-background-color);
  border:2px solid var(--detail-color);
  border-radius:8px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  padding:15px 16px;
  margin:1rem 0 1rem 0;
  width:90%;
  min-height:30rem;
  transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}