#navbar{
  display:flex;
  align-items:center;
  flex-direction:row;
  justify-content:flex-start;
  box-sizing:border-box;
  background-color:var(--secondary-background-color);
  border-bottom:4px solid var(--detail-color);
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  padding:1rem;
  width:100%;
  overflow:hidden;
  transition:background-color 0.3s ease,border-color 0.3s ease;
}

.nav_button{
  display:flex;
  align-items:center;
  justify-content:center;
  color:var(--text-color);
  background-color:var(--tertiary-background-color);
  border:2px solid var(--detail-color);
  border-radius:8px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  cursor:pointer;
  padding:15px 10px;
  text-decoration:none;
  font-size:1.2rem;
  font-weight:bold;
  margin:0.2rem 0.5rem;
  height:3rem;
  transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

  .nav_button:hover{
    background-color:var(--tertiary-background-color-hover);
    transform:scale(1.05);
  }

.nav_item_positioning{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  width:100%;
}

#home_button{
  margin-left:0.1rem;
  margin-right:0.1rem;
}

#home_icon{
  width:2.5rem;
  height:2.5rem;
}

#logo_icon{
    margin-top:-0.3rem;
    margin-left:2rem;
    margin-right:auto;
}

#nav_title{
  justify-self:center;
  font-weight:bold;
  font-size:1.5rem;
}

#theme_button{
    margin-left:auto;
    margin-right:0rem;
}

#theme_icon{
  width:2.5rem;
  height:2.5rem;
}

#account_button{
    margin-left:1rem;
    margin-right:2rem;
}

#account_menu{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:var(--secondary-background-color);
  border:2px solid var(--detail-color);
  border-radius:8px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  position:absolute;
  top:5rem;
  right: 2rem;
  padding:5px 16px;
  text-decoration:none;
  font-size:1.2rem;
  font-weight:bold;
  width:14rem;
  z-index:120;
  transition:background-color 0.3s ease,border-color 0.3s ease;
}

.account_menu_button{
  display:flex;
  align-items:center;
  justify-content:center;
  color:var(--text-color);
  background-color:var(--tertiary-background-color);
  border:2px solid var(--detail-color);
  border-radius:8px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  cursor:pointer;
  padding:15px 16px;
  text-decoration:none;
  font-size:1.2rem;
  font-weight:bold;
  margin:0.2rem 0.5rem;
  width:95%;
  height:3rem;
  transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

  .account_menu_button:hover{
    background-color:var(--tertiary-background-color-hover);
    transform:scale(1.05);
  }

#logout_button{
  margin:0.2rem 0.5rem;
}

#business_nav_button{
  display:flex;
  align-items:center;
  justify-content:center;
  color:var(--text-color);
  background-color:var(--tertiary-background-color);
  border:2px solid var(--detail-color);
  border-bottom:none;
  border-radius:8px 8px 0 0;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  cursor:pointer;
  padding:15px 16px;
  text-decoration:none;
  font-size:1.2rem;
  font-weight:bold;
  margin:1rem 0.5rem -1rem 0.5rem;
  width:10rem;
  height:3rem;
  transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

  #business_nav_button:hover{
    background-color:var(--tertiary-background-color-hover);
    transform:scale(1.05) translateY(-0.05rem);
  }