#create_button{
    margin-right:1rem;
}

#reservation_card{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto 0 auto;
    width:25rem;
    height:11rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    #reservation_card:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

#reservation_card_not_found{
    justify-self:center;
    font-size:1.5rem;
    font-weight:bold;
    margin:1rem;
}

#reservation_card_id{
    font-size:1.2rem;
    font-weight:bold;
    margin:0.1rem auto 0.5rem 1.5rem;
}

#reservation_card_created{
    font-size:1rem;
    font-weight:bold;
    margin:0.2rem auto 0.5rem 1.5rem;
}

#reservation_card_closed{
    font-size:1rem;
    font-weight:bold;
    margin:0.2rem auto 0.5rem 1.5rem;
}

#reservation_card_time{
    font-size:1.2rem;
    font-weight:bold;
    margin:0.4rem auto 0.1rem 1.5rem;
}

#reservation_card_info{
    width:100%;
    margin:auto auto 0.2rem auto;
}

#reservation_card_status{
    font-size:1.2rem;
    font-weight:bold;
    margin:0.2rem auto auto 1.5rem;
}

#reservation_card_total{
    font-size:1.2rem;
    font-weight:bold;
    margin:0.2rem 1.5rem auto auto;
}

#reservation_create_panel{
    justify-self:center;
    background-color:var(--primary-background-color);
    border:2px solid var(--detail-color);
    border-radius:16px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    position:absolute;
    top:3rem;
    width:90%;
    z-index:110;
    transition:background-color 0.3s ease,border-color 0.3s ease;
}

#create_reservation_input_fields{
    display:flex;
    align-items:center;
    justify-content:left;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:1rem auto 1rem 1rem;
    width:20%;
    height:30rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

#create_reservation_load_button{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:15px 16px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto 0.2rem auto;
    width:88%;
    height:3rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}
    
    #create_reservation_load_button:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

.create_reservation_input_field{
    display:flex;
    align-items:center;
    justify-content:center;
    justify-self:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:15px 16px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto 0rem auto;
    width:75%;
    height:1rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    .create_reservation_input_field:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

    .create_reservation_input_field:focus{
        border-color:var(--focus-color);
        outline:none;
    }

#create_reservation_main_panel{
    margin:1rem auto 1rem auto;
    width:60%;
    height:30rem;
}

#create_reservation_controls{
    display:flex;
    align-items:center;
    justify-content:left;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:-0.3rem auto 0.5rem auto;
    width:90%;
    height:10%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

#create_reservation_back_button{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:15px 16px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:auto auto auto 0.5rem;
    width:10%;
    height:0.5rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}
    
    #create_reservation_back_button:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

#create_reservation_search{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:16px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:15px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:auto auto auto 0.5rem;
    width:60%;
    height:0.5rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

    #create_reservation_search:focus{
        border-color:var(--focus-color);
        outline:none;
    }

#create_reservation_sort_button{
    margin-left:auto;
    margin-right:0.5rem;
    width:6rem;
    height:0.5rem;
}

    #create_reservation_sort_button:hover #sort_content{
        display:block;
        top:2.5rem;
    }

#create_reservation_main{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(20rem,1fr));
    gap:2px;
    align-items:center;
    justify-content:left;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto -0.5rem auto;
    width:90%;
    height:90%;
    overflow-x:hidden;
    overflow-y:scroll;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

#create_reservation_main.time_table{
    display:flex;
    overflow-y:scroll;
}

#create_reservation_service_card_not_found{
    justify-self:center;
    font-size:1.5rem;
    font-weight:bold;
    margin:1rem;
}

#create_reservation_main #reservation_card{
    width:20rem;
}

#create_reservation_service_card_not_found{
    justify-self:center;
    font-size:1.5rem;
    font-weight:bold;
    margin:1rem;
}

#create_reservation_service_card{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto 0rem auto;
    width:90%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    #create_reservation_service_card:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

#create_reservation_service_card_name{
    font-size:1.4rem;
    margin:0.2rem auto auto 0.2rem;
}

#create_reservation_service_card_main_info{
    width:90%;
}

#create_reservation_service_card_info_left{
    font-size:1.2rem;
    margin:0.1rem auto 0.1rem 0.1rem;
}

#create_reservation_service_card_info_right{
    font-size:1.2rem;
    margin:0.1rem 0.1rem 0.1rem auto;
}

#reservation_card_customer_name{
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto 0.5rem 1.5rem;
}

#reservation_card_customer_phone{
    font-size:1.2rem;
    font-weight:bold;
    margin:0.1rem auto 0.5rem 1.5rem;
}

#create_reservation_main #reservation_card_created{
    font-size:1rem;
    font-weight:bold;
    margin:auto auto 0.5rem 1.5rem;
}

#create_reservation_main #reservation_card_closed{
    font-size:1rem;
    font-weight:bold;
    margin:0.2rem auto 0.7rem 1.5rem;
}

#create_reservation_service_picked{
    font-size:1.6rem;
    font-weight:bold;
    margin:auto 1rem auto 1rem;
}

#create_reservation_date_picker{
    display:flex;
    flex-direction:row;
    margin:0.5rem 1rem 0.5rem auto;
}

#create_reservation_date_picker_input{
    padding:6px;
    font-size:1rem;
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:6px;
    margin-left:0.5rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    #create_reservation_date_picker_input:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

    #create_reservation_date_picker_input:focus{
        border-color:var(--focus-color);
        outline:none;
    }

#create_reservation_time_table{
    display:flex;
    flex-direction:column;
    gap:6px;
    width:100%;
}

#create_reservation_time_table #time_row{
    display:grid;
    grid-template-columns:60px 1fr;
    align-items:center;
}

#time_row #time_hour{
    font-size:1.2rem;
}

#time_row #time_minutes{
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:4px;
}

#time_minutes #time_slot{
    border:1px solid var(--detail-color);
    border-radius:4px;
    cursor:pointer;
    padding:6px;
    text-align:center;
    user-select:none;
}

#time_slot.free{
    background-color:var(--free-time-color);
}

#time_slot.taken{
    background-color:var(--taken-time-color);
    cursor:not-allowed;
}

#time_slot.yourTaken{
    background-color:var(--your-taken-time-color);
}

#time_slot.selected{
    background-color:var(--selected-time-color);
}

#create_reservation_buttons{
    margin:1rem 1rem 1rem auto;
    width:16%;
    height:30rem;
}

#create_reservation_discount_button{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:15px 16px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto auto auto;
    width:14rem;
    height:3rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}
    
    #create_reservation_discount_button:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

#create_reservation_cancel_button{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:15px 16px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:auto auto 0.5rem auto;
    width:14rem;
    height:3rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}
    
    #create_reservation_cancel_button:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

#create_reservation_button{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:15px 16px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0,5rem auto 0.5rem auto;
    width:14rem;
    height:3rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}
    
    #create_reservation_button:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

@media(max-width:1000px){
    #reservation_create_panel{
        flex-direction:column;
    }

    #create_reservation_input_fields{
        margin:1rem auto 0.5rem auto;
        width:90%;
    }

    #create_reservation_main_panel{
        margin:1rem auto 0.5rem auto;
        width:100%;
    }

    #create_reservation_buttons{
        margin:1rem auto 0.5rem auto;
        width:90%;
        height:90%;
    }
}