#reservation_panels{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

#reservation_header{
    margin:0.2rem auto 0.2rem auto;
    width:100%;
}

#edit_button{
    margin:0.5rem 0.5rem auto auto;
}

#reservation_tab_name{
    font-size:1.6rem;
    margin:0.8rem auto 0.2rem 1rem;
}

#reservation_client_info{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:1.5rem auto auto 1rem;
    width:35%;
    height:30rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

#reservation_client_name_surname{
    margin:0.5rem auto 0.2rem auto;
    width:100%;
}

#reservation_client_name{
    font-size:1.5rem;
    margin:0.5rem auto auto 2rem;
}

#reservation_client_surname{
    font-size:1.5rem;
    margin:0.5rem 2rem auto auto;
}

#reservation_client_phone{
    font-size:1.5rem;
    margin:0.5rem auto auto auto;
}

#reservation_client_input_wrapper{
    margin:0.5rem 0.5rem 0.5rem 0.5rem;
    width:40%;
}

.reservatio_client_input{
    padding:6px;
    font-size:1rem;
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:6px;
    margin-bottom:0.5rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    .reservatio_client_input:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

    .reservatio_client_input:focus{
        border-color:var(--focus-color);
        outline:none;
    }

#edit_controls{
    margin:auto auto 0.5rem auto;
    width:100%;
}

#reservatio_client_cancel_button{
    font-size:1.4rem;
    margin:auto 0.5rem 0.5rem auto;
    width:40%;
}

#reservatio_client_save_button{
    font-size:1.4rem;
    margin:auto auto 0.5rem 0.5rem;
    width:40%;
}

#reservation_info{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:1.5rem 1rem auto 1rem;
    width:35%;
    height:30rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

#reservation_details{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem 1rem auto 1rem;
    width:90%;
    height:45%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

#reservation_id{
    font-size:1.2rem;
    margin:-0.2rem auto 0.2rem 1.5rem;
}

#reservation_appointment_time_tab{
    margin:0.2rem auto 0.2rem auto;
    width:100%;
}

#reservation_appointment_time{
    font-size:1.4rem;
    margin:1rem auto auto 1.5rem;
}

#reservation_status{
    font-size:1.4rem;
    margin:0.5rem 1.5rem auto auto;
}

#reservation_service_details{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:auto 1rem 0.5rem 1rem;
    width:90%;
    height:45%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

#reservation_service_name{
    font-size:1.4rem;
    margin:-0.2rem auto 0.2rem 1.5rem;
}

#reservation_service_specialist{
    font-size:1.2rem;
    margin:-0.2rem auto 0.2rem 1.5rem;
}

#reservation_service_duration{
    font-size:1.2rem;
    margin:-0.2rem auto 0.2rem 1.5rem;
}

#reservation_service_price{
    font-size:1.4rem;
    margin:0rem 1.5rem 0.5rem auto;
}

#reservation_controls{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:1.5rem 1rem auto auto;
    width:20%;
    height:30rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

#reservation_discount_button{
    font-size:1.5rem;
    margin:1rem auto 0.5rem auto;
    width:90%;
}

#reservation_cancel_button{
    font-size:1.5rem;
    margin:1rem auto auto auto;
    width:90%;
}

#reservation_refund_button{
    font-size:1.5rem;
    margin:auto auto 1rem auto;
    width:90%;
}

#reservation_payment_button{
    font-size:1.5rem;
    margin:auto auto 1rem auto;
    width:90%;
}

#editing_reservation_panel{
    justify-self:center;
    background-color:var(--primary-background-color);
    border:2px solid var(--detail-color);
    border-radius:16px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    position:absolute;
    top:3rem;
    width:90%;
    height:36rem;
    z-index:110;
    transition:background-color 0.3s ease,border-color 0.3s ease;
}

#editing_reservation_panel #create_reservation_controls{
    margin:0.5rem auto 0.5rem auto;
}

#editing_reservation_panel #create_reservation_main{
    margin:0.5rem auto 0.5rem auto;
    height:80%;
}

#editing_reservation_buttons{
    margin:0.5rem auto 0.5rem auto;
    width:90%;
}

#editing_reservation_cancel_button{
    font-size:1.5rem;
    margin:auto 1rem auto auto;
    width:20%;
}

#editing_reservation_save_button{
    font-size:1.5rem;
    margin:auto auto auto 1rem;
    width:20%;
}

@media(max-width:1000px){
    #reservation_panels{
        flex-direction:column;
    }

    #reservation_client_info{
        margin:1rem auto 0.5rem auto;
        width:90%;
    }

    #reservation_info{
        margin:1rem auto 0.5rem auto;
        width:90%;
    }

    #reservation_controls{
        margin:1rem auto 1rem auto;
        width:90%;
    }
}