#reservation_panels{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

#reservation_info{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:1.5rem 1rem auto auto;
    width:26rem;
    height:24rem;
}

#reservation_main_info{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin-top:0rem;
    margin-bottom:auto;
    width:100%;
    height:40%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

#reservation_client_info{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin-top:auto;
    margin-bottom:0rem;
    width:100%;
    height:50%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

#service_info{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:1.5rem 1rem auto 1rem;
    width:26rem;
    height:24rem;
}

#service_main_info{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin-top:0rem;
    margin-bottom:auto;
    width:100%;
    height:55%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

#service_specialist_info{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin-top:auto;
    margin-bottom:0rem;
    width:100%;
    height:35%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

.reservation_info_name{
    font-size:1.5rem;
    margin:0.5rem auto 0.1rem auto;
}

.reservation_info_content{
    font-size:1.2rem;
    margin:0.5rem auto 0.1rem auto;
}

#reservation_controls{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:1.5rem auto auto 1rem;
    width:26rem;
    height:23.2rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease;
}

.reservation_edit_button{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:5px 10px;
    text-decoration:none;
    font-size:1.8rem;
    font-weight:bold;
    margin:0.5rem auto 0.5rem auto;
    width:85%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    .reservation_edit_button:hover{
        background-color:var(--secondary-background-color-hover);
        transform:scale(1.05);
    }

.reservation_comment_button{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:5px 10px;
    text-decoration:none;
    font-size:1.8rem;
    font-weight:bold;
    margin:0.5rem auto 0.5rem auto;
    width:85%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    .reservation_comment_button:hover{
        background-color:var(--secondary-background-color-hover);
        transform:scale(1.05);
    }


.reservation_comment_panel{
    background-color:var(--primary-background-color);
    border:2px solid var(--detail-color);
    border-radius:16px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    position:absolute;
    margin-bottom:23rem;
    width:20rem;
    height:20rem;
    z-index:110;
    transition:background-color 0.3s ease,border-color 0.3s ease;
}

.reservation_payment_button{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--secondary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:5px 10px;
    text-decoration:none;
    font-size:1.8rem;
    font-weight:bold;
    margin:0.5rem auto 0.5rem auto;
    width:85%;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    .reservation_payment_button:hover{
        background-color:var(--secondary-background-color-hover);
        transform:scale(1.05);
    }

@media(max-width:1000px){
    #reservation_panels{
        flex-direction:column;
    }

    #reservation_info{
        margin:1rem auto 0.5rem auto;
        width:90%;
    }

    #service_info{
        margin:1rem auto 0.5rem auto;
        width:90%;
    }

    #reservation_controls{
        margin:1rem auto 0.5rem auto;
        width:90%;
    }
}