.control_button{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:15px 16px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.2rem 0.5rem;
    height:3rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}
    
    .control_button:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

.create_button{
    margin-right:1rem;
}

#rezervation_card_not_found{
    justify-self:center;
    font-size:1.5rem;
    font-weight:bold;
    margin:1rem;
}

.rezervation_card{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text-color);
    background-color:var(--tertiary-background-color);
    border:2px solid var(--detail-color);
    border-radius:8px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    padding:5px 10px;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    margin:0.5rem auto 0 auto;
    width:25rem;
    height:10rem;
    transition:background-color 0.3s ease,border-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

    .rezervation_card:hover{
        background-color:var(--tertiary-background-color-hover);
        transform:scale(1.05);
    }

.rezervation_main_info{
    width:100%;
}

.rezervation_id{
    font-size:1.2rem;
    font-weight:bold;
    margin:0.1rem auto 0.5rem 1.5rem;
}

.rezervation_time{
    font-size:1.2rem;
    font-weight:bold;
    margin:0.1rem 1.5rem 0.5rem auto;
}

.rezervation_created{
    font-size:1rem;
    font-weight:bold;
    margin:0.2rem auto 0.5rem 1.5rem;
}

.rezervation_closed{
    font-size:1rem;
    font-weight:bold;
    margin:0.2rem auto 0.5rem 1.5rem;
}

.rezervation_info{
    width:100%;
}

.rezervation_status{
    font-size:1.2rem;
    font-weight:bold;
    margin:0.2rem auto auto 1.5rem;
}

.rezervation_total{
    font-size:1.2rem;
    font-weight:bold;
    margin:0.2rem 1.5rem auto auto;
}